html{
    height: 100%;
}

body{
    --spotify-color: #1DD660;
    --spotify-background: #333333;
    --spotify-module: #282828;
    --spotify-module-dark: #181818;
    color: white;
    font-family: gotham light;
    background-image: linear-gradient(180deg, #121e3d 0, #000);
}

.container{
    margin: auto !important;
    max-width: 80%;
    height: 100vh;
}

#navmenu{
    background-color: var(--spotify-module);
    
}

#feed{
    background-color: var(--spotify-module-dark);
}

#widgets{
    background-color: var(--spotify-color);
}

#navmenu li{
    display: inline-block;
    list-style: none;
    font-size: 17px;
    padding: 20px 20px 0px 20px;
    width: 100%;   
}

#navmenu ul{
   align-items:center;
}

#navmenu a {
    text-decoration: none;
    color: white;
    text-align: center; 
}
#navmenu a:hover {
    color: var(--spotify-color);
    transition: color 100ms ease-out;
}

#navmenu span{
    padding-right: 10px;
}

#logo{
    padding: 30px;
    border-bottom: 1px solid var(--spotify-background);
}

#messagebox_input{
    padding-bottom: 10px;
}

#messagebox{
    background-color: var(--spotify-module);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#publishbutton button{
    border-radius: 20px;
    background-color: var(--spotify-color);
    border: none;
    padding: 8px;
}

.form-control, .form-control:focus {
    background-color: var(--spotify-module);
    border:none;
    border-color: var(--spotify-module) !important;
}

#messageboard article{
    background-color: var(--spotify-module);
    border-radius: 10px;
    padding: 20px;
}

#messageboard ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}




